<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<p>This is the partial for view 1.</p>
<p>{{title}}</p>
<table ng-if="showTable" class="w3-table w3-bordered w3-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Wallet Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="wallet in walletData">
            <td>{{wallet.firstName}}</td>
            <td>{{wallet.lastName}}</td>
            <td>{{wallet.email}}</td>
            <td>{{wallet.birthDate}}</td>
            <td>{{wallet.walletBalance}}</td>
        </tr>
    </tbody>
</table>
